* { 
		margin: 0;
		padding: 0;
}

header {
	background-color: #811E6E ;
	background-attachment:fixed;
    background-position: center center;
    background-image: cover;
    overflow: hidden;
	width: 100%;
	height: 800px;
	min-height: 500px;
	background-size: cover;  
	}

div {
	display: block; 
}
.home {
	position: relative;
	font-family: "Mohave";
	color: #FEDC56;
}

.home .more-about {
	position: relative;
	margin-top: 50px;

}
.home .more-about a  {
	font-family: "Mohave";
	color: #FEDC56;
	font-size: 20px;
}
.home img {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	margin-top: 100px;
  	height:450px;
  	width: 550px;
  	/*border: 0.5px solid #FEDC56;*/

}
.say {
	font-family: "Mohave";
  	border-color: black; 
	color: #FEDC56;
	font-size: 25px;
	font-weight: 100;
	text-align: center;
    height: 10px;
    width: 100%;
    margin-top:-80px;

}

.more-about {
	font-family: "Mohave";
	border-radius: 25px;
	color: white;
	opacity: 0.9;
	border: 0.5px solid #FEDC56;
	width: 230px;
	padding: 5px;
	margin: 0px auto;
	font-size: 20px;
	font-weight: 100;
	text-shadow: 5px 5px 5px #66666666;
	text-align: center;
    
}


#mc_embed_signup_scroll{
	font-family: "Mohave";
	color: white;
	opacity: 0.9;
	width: 230px;
	padding: 20px;
	margin: 0px auto;
	font-size: 25px;
	font-weight: 100;
	/*text-shadow: 5px 5px 5px #66666666;*/
	text-align: center;
}
input {
	font-family: "Mohave";
	margin: 2px;
	margin-top: 10px;
	padding: 8px;
	width: 200px;
	border-width: 1px;
	border-radius: 25px;
	border-color: #FEDC56;
	color: #FEDC56;

}
.clear {
	color: black;
}
#about {
	margin: 0 0;
	padding: 10px;
	background-color: #FFFCD6;
	color: #FEDC56;

}


#about .desc {
	height: 100%;
	width: 55%;
	display: block;
	margin-left: auto;
  	margin-right: auto;
	min-width:200px;
}

#about h2 {
	font-family: "Mohave";
	text-align: left;
	padding: 10px;
}

#about p {
	color: #811E6E ;
	height: 100%;
	width: 100%;
	text-align: left;
	padding: 15px;
	font-family: "Mohave";
	font-size: 18px;
}

li:hover {
	opacity: 0.5;
}

a:link, a:visited {
	text-decoration: none;
	color: white; 
}



.menu-toggle {
	color:white;
	float: right;
	line-height: 50px;
	font-size: 24px;
}



/*new styles*/
.topnav {
	overflow: hidden;
	z-index:30;
	position: fixed;
	width: 100%;
	background-color: grey;

}

.topnav div {
	width: 440px;
	margin: 0 auto;
}

.topnav a {
	float: left;
	display: inline;
	color: #ddd;
	text-align: center;
	width: 110px;
	padding: 16px 0px;
	text-decoration: none;
	font-size: 17px;
	font-weight: 100;
	font-family: "Open Sans";
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}

.active {
	background-color: #4CAF50;
	color: white;
}

.topnav .icon, .static-nav .icon {
	display: none;
} 


@media screen and (max-width: 600px) {
	.topnav a, .static-nav a {
		display: none;
		
	}

	.topnav a.icon, .static-nav a.icon{
		float: right;
		display: block;
	}

	.topnav div, .static-nav div{
		width: 100%;
	}

	header {
		height: 550px;
	}

	.name {
		font-size: 58px;
		background-image-size: 45px;

	}

 	.home img {
 		height:280px;
  		width: 350px;

 	}
	.say {
		font-size: 15px;
		background-image-size: 45px;
		margin-top:-50px;

	}

	.home .more-about a  {
	font-family: "Mohave";
	color: #FEDC56;
	font-size: 12px;
	}

	.home .more-about {
	position: relative;
	margin-top: 20px;

	}

	.more-about {
		font-size: 15px;
		width:170px;
		padding: 5px 3px;
		margin-top:10px;
	}

}

@media screen and (max-width: 600px) {
	.topnav.responsive{
		overflow: hidden;
		z-index:30;
		position: fixed;
		width: 100%;
		background-color: grey;	

	}

	.static-nav.responsive {
		overflow: hidden;
		z-index:30;
		position: fixed;
		width: 100%;
		background-color: grey;
	

	}
	.topnav.responsive .icon, .static-nav.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.topnav.responsive a, .static-nav.responsive a{
		float: none;
		display: block;
		margin: 0 auto;
		text-align: center;
		opacity: 1;
	}

	#about .desc {
		display: block;
	}

}



#contact {
	height: 1000px;
	overflow: hidden;
	text-align: center;
	margin: 0 auto;
	padding: 10px;
}

#contact a{
	z-index: 30;
}

#contact h2 {
	font-family: "Open Sans";
	width: 200px;
	text-align: center;
	margin: 0 auto;
	padding: 10px;
}

 #contact .wrapper {
	display: table;
	position: absolute;
	width: 300px;
	margin: 0px auto;
}

#contact .wrapper i {
	padding: 5px;
}


#contact .wrapper a:nth-child(1) {
  color: #0077B5;

}

#contact .wrapper a:nth-child(2) {
  color: #DD4B39;

}

#contact .wrapper a:hover {
    opacity: 0.7;
}
